#gameBoard {
    height: 500px;
    width: 500px;
    background-color: #4D5057;
}
#btn1 {
    position: relative;
    top: 25px;
    left: 25px;
    height: 200px;
    width: 200px;
    background-color: #20FC8F;
    box-shadow: 5px 5px 2px #888888;
}
#btn2 {
    position: relative;
    top: -175px;
    left: 275px;
    height: 200px;
    width: 200px;
    background-color: #FFFD98;
    box-shadow: 5px 5px 2px #888888;
}
#btn3 {
    position: relative;
    top: -150px;
    left: 25px;
    height: 200px;
    width: 200px;
    background-color: #85C7F2;
    box-shadow: 5px 5px 2px #888888;
}
#btn4 {
    position: relative;
    top: -350px;
    left: 275px;
    height: 200px;
    width: 200px;
    background-color: #F06449;
    box-shadow: 5px 5px 2px #888888;
}
#start{
    position: relative;
    top: -165px;
    left: 225px;
}